.navbar{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 40px;

background:#0f172a;

border-radius:20px;

color:white;

box-shadow:0 15px 35px rgba(0,0,0,.15);

margin-bottom:30px;

}

.logo{

display:flex;

gap:15px;

align-items:center;

}

.logo h2{

margin:0;

font-size:28px;

}

.logo p{

margin:0;

font-size:14px;

color:#cbd5e1;

}

.status{

background:#16a34a;

padding:10px 18px;

border-radius:40px;

display:flex;

align-items:center;

gap:8px;

font-weight:600;

}

@media(max-width:768px){

.navbar{

flex-direction:column;

gap:15px;

}

}