body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#eef2f5;
}

.container{
    width:80%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:#ff6b00;
}

button{
    padding:12px 25px;
    border:none;
    background:#ff6b00;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#e85f00;
}

.result{
    margin-top:30px;
    padding:20px;
    background:#f7f7f7;
    border-radius:10px;
}
input{
    margin-top:20px;
}

img{
    max-width:100%;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
}

.result{
    text-align:left;
}
